<div class="page-title image-title" style="background-image:url(assets/img/hotel.jpg);">
    <div class="container">
        <div class="page-title-wrap">
        <h2>Hotels</h2>
        <p><a href="#" class="theme-cl">Home</a> | <span>Hotels</span></p>
        </div>
    </div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- =========== Start All Hotel In Grid View =================== -->
<section class="gray-bg">
    <div class="container">
    
        <!-- Row -->
        <div class="row mrg-0">
            <div class="tr-single-box short-box">
                <div class="col-sm-3 hidden-xs align-self-center">
                    <h4>Sort By</h4>
                </div>
                
                <div class="col-sm-9 text-right">
<!--                 
                    <div class="btn-group mr-lg-2">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Short By
                        </button>
                        <div class="dropdown-menu pull-right animated flipInX">
                            <a href="#">Accending</a>
                            <a href="#">Decending</a>
                            <a href="#">By Date</a>
                        </div>
                    </div>
                    
                    <div class="btn-group">
                         <a href="hotel-grid.html" class="btn btn-default tooltips">
                             <i class="ti-flix ti-layout-grid2"></i>
                         </a>
                    </div>

                    <div class="btn-group">
                         <a href="hotel-list.html" class="btn btn-default tooltips">
                             <i class="ti-flix ti-view-list-alt"></i>
                         </a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /Row -->
                
        <div class="row">
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-1.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-12%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $710/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Hotel Green Vallery</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-success"><i class="ti-check"></i></span>
                                <h6><span class="cl-success font-bold">Good</span>1362 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>782</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-2.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-10%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $610/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Cresta Hotel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-warning"><i class="ti-check"></i></span>
                                <h6><span class="cl-warning font-bold">Fair</span>122 Reviews</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>1782</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-3.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-11%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $863/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Iceberg Resort</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-success"><i class="ti-check"></i></span>
                                <h6><span class="cl-success font-bold">Good</span>872 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>1875</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-4.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-12%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $580/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Jameson Hotel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-success"><i class="ti-check"></i></span>
                                <h6><span class="cl-success font-bold">Good</span>1587 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>658</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-5.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-20%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $910/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Meikkles Hotel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-danger"><i class="ti-check"></i></span>
                                <h6><span class="cl-danger font-bold">Poor</span>870 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>540</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-6.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-15%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $640/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Comfort Motel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-warning"><i class="ti-check"></i></span>
                                <h6><span class="cl-warning font-bold">Fair</span>1422 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>782</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-7.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-14%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $810/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">NT Holdings Hotel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-info"><i class="ti-check"></i></span>
                                <h6><span class="cl-info font-bold">Superb</span>1024 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>568</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-8.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-10%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $510/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Ivory House Hotel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-success"><i class="ti-check"></i></span>
                                <h6><span class="cl-success font-bold">Good</span>256 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <span><i class="ti-eye padd-r-5"></i>652</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
            <!-- Single Hotel -->
            <div class="col-md-4 col-sm-6">
                <article class="hotel-box style-1">

                    <div class="hotel-box-image">
                        <figure>
                            <a routerLink="/hotel-detail">
                                <img src="assets/img/hotel/hotel-9.jpg" class="img-responsive listing-box-img" alt="" />
                                <div class="list-overlay"></div>
                                <div class="read_more"><span>Details</span></div>
                            </a>
                            <!-- <div class="discount-flick">-07%</div> -->
                            <h4 class="hotel-place">
                                <a href="#">Harare</a>
                            </h4>
                            
                        </figure>
                        
                    </div>
                    
                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <span class="real-price padd-l-10">From $570/Person</span>
                        </div>
                    </div>
                    
                    <div class="hotel-detail-box">
                        <div class="hotel-ellipsis">
                            <h4 class="hotel-name">
                                <a routerLink="/hotel-detail">Prophecy Motel</a>
                            </h4>
                            <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                        </div>
                    </div>

                    <div class="hotel-inner inner-box">
                        <div class="box-inner-ellipsis">
                            <div class="hotel-review entry-location">
                                <span class="review-status bg-info"><i class="ti-check"></i></span>
                                <h6><span class="cl-info font-bold">Superb</span>1252 Review</h6>
                            </div>
                            <div class="view-box">
                                <div class="fl-right">
                                    <!-- <span><i class="ti-eye padd-r-5"></i>582</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </article>
            </div>
            
        </div>
        
        <div class="row">
            <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span class="ti-arrow-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="ti-arrow-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
            </ul>
        </div>
        
    </div>
</section>
