<!-- ======================= Start Banner ===================== -->
<div class="main-banner" style="background-image:url(assets/img/hotel.jpg);">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

            <div class="caption text-center cl-white">
                <h2>Travel & Tour Hub</h2>
                <p>Explore top rated places, hotels and restaurants around you</p>
            </div>

            <form class="wow-form">
                <input type="text" placeholder="Search place...">
                <button type="submit" class="btn btn-wow theme-btn" name="submit" value="Search"> Search </button>
            </form>

        </div>
    </div>
</div>
<!-- ======================= End Banner ===================== -->
<div class="clearfix"></div>

<!-- ====================== Tour Type ================= -->

<!-- ====================== How It Work ================= -->
<div class="clearfix"></div>


<!-- ====================== Book Popular Hotel ================= -->
<section class="gray-bg">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Visit Hotels</span>
                    <h1>Popular Hotels</h1>
                </div>
            </div>
        </div>
        
        <div class="row">
            
            <div class="list-slider">
            
                <!-- Single Hotel -->
                <div class="col-md-4 list-slide-box">
                    <article class="hotel-box style-1">

                        <div class="hotel-box-image">
                            <figure>
                                <a routerLink="/hotel-detail">
                                    <img src="assets/img/hotel/hotel-1.jpg" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                    <div class="read_more"><span>Details</span></div>
                                </a>
                                <!-- <div class="discount-flick">-12%</div> -->
                                <h4 class="hotel-place">
                                    <a href="#">Harare, Zim</a>
                                </h4>
                                
                            </figure>
                            
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="real-price padd-l-10"></span>
                            </div>
                        </div>
                        
                        <div class="hotel-detail-box">
                            <div class="hotel-ellipsis">
                                <h4 class="hotel-name">
                                    <a routerLink="/hotel-detail">Jameson Hotel</a>
                                </h4>
                                <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                            </div>
                        </div>

                        <div class="hotel-inner inner-box">
                            <div class="box-inner-ellipsis">
                                <div class="hotel-review entry-location">
                                    <span class="review-status bg-success"><i class="ti-check"></i></span>
                                    <h6><span class="cl-success font-bold">Good</span>1362 Review</h6>
                                </div>
                                <div class="view-box">
                                    <div class="fl-right">
                                        <!-- <span><i class="ti-eye padd-r-5"></i>782</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                </div>
                
                <!-- Single Hotel -->
                <div class="col-md-4 list-slide-box">
                    <article class="hotel-box style-1">

                        <div class="hotel-box-image">
                            <figure>
                                <a routerLink="/hotel-detail">
                                    <img src="assets/img/hotel/hotel-2.jpg" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                    <div class="read_more"><span>Details</span></div>
                                </a>
                                <!-- <div class="discount-flick">-10%</div> -->
                                <h4 class="hotel-place">
                                    <a href="#">Harare</a>
                                </h4>
                                
                            </figure>
                            
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="real-price padd-l-10"></span>
                            </div>
                        </div>
                        
                        <div class="hotel-detail-box">
                            <div class="hotel-ellipsis">
                                <h4 class="hotel-name">
                                    <a routerLink="/hotel-detail">Rainbow Tours Hotel</a>
                                </h4>
                                <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                            </div>
                        </div>

                        <div class="hotel-inner inner-box">
                            <div class="box-inner-ellipsis">
                                <div class="hotel-review entry-location">
                                    <span class="review-status bg-warning"><i class="ti-check"></i></span>
                                    <h6><span class="cl-warning font-bold">Fair</span>122 Review</h6>
                                </div>
                                <div class="view-box">
                                    <div class="fl-right">
                                        <!-- <span><i class="ti-eye padd-r-5"></i>1782</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                </div>
                
                <!-- Single Hotel -->
                <div class="col-md-4 list-slide-box">
                    <article class="hotel-box style-1">

                        <div class="hotel-box-image">
                            <figure>
                                <a routerLink="/hotel-detail">
                                    <img src="assets/img/hotel/hotel-3.jpg" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                    <div class="read_more"><span>Details</span></div>
                                </a>
                                <!-- <div class="discount-flick">-11%</div> -->
                                <h4 class="hotel-place">
                                    <a href="#">Harare</a>
                                </h4>
                                
                            </figure>
                            
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="real-price padd-l-10"></span>
                            </div>
                        </div>
                        
                        <div class="hotel-detail-box">
                            <div class="hotel-ellipsis">
                                <h4 class="hotel-name">
                                    <a routerLink="/hotel-detail">Cresta Hotel</a>
                                </h4>
                                <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                            </div>
                        </div>

                        <div class="hotel-inner inner-box">
                            <div class="box-inner-ellipsis">
                                <div class="hotel-review entry-location">
                                    <span class="review-status bg-success"><i class="ti-check"></i></span>
                                    <h6><span class="cl-success font-bold">Good</span>872 Review</h6>
                                </div>
                                <div class="view-box">
                                    <div class="fl-right">
                                        <!-- <span><i class="ti-eye padd-r-5"></i>1875</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                </div>
                
                <!-- Single Hotel -->
                <div class="col-md-4 list-slide-box">
                    <article class="hotel-box style-1">

                        <div class="hotel-box-image">
                            <figure>
                                <a routerLink="/hotel-detail">
                                    <img src="assets/img/hotel/hotel-4.jpg" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                    <div class="read_more"><span>Details</span></div>
                                </a>
                                <!-- <div class="discount-flick">-12%</div> -->
                                <h4 class="hotel-place">
                                    <a href="#">Harare</a>
                                </h4>
                                
                            </figure>
                            
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="real-price padd-l-10"></span>
                            </div>
                        </div>
                        
                        <div class="hotel-detail-box">
                            <div class="hotel-ellipsis">
                                <h4 class="hotel-name">
                                    <a routerLink="/hotel-detail">Meikkles Hotel</a>
                                </h4>
                                <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                            </div>
                        </div>

                        <div class="hotel-inner inner-box">
                            <div class="box-inner-ellipsis">
                                <div class="hotel-review entry-location">
                                    <span class="review-status bg-success"><i class="ti-check"></i></span>
                                    <h6><span class="cl-success font-bold">Good</span>87 Reviews</h6>
                                </div>
                                <div class="view-box">
                                    <div class="fl-right">
                                        <!-- <span><i class="ti-eye padd-r-5"></i>658</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                </div>
                
                <!-- Single Hotel -->
                <div class="col-md-4 list-slide-box">
                    <article class="hotel-box style-1">

                        <div class="hotel-box-image">
                            <figure>
                                <a routerLink="/hotel-detail">
                                    <img src="assets/img/hotel/hotel-5.jpg" class="img-responsive listing-box-img" alt="" />
                                    <div class="list-overlay"></div>
                                    <div class="read_more"><span>Details</span></div>
                                </a>
                                <!-- <div class="discount-flick">-20%</div> -->
                                <h4 class="hotel-place">
                                    <a href="#">Harare</a>
                                </h4>
                                
                            </figure>
                            
                        </div>
                        
                        <div class="entry-meta">
                            <div class="meta-item meta-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <div class="meta-item meta-comment fl-right">
                                <span class="real-price padd-l-10"></span>
                            </div>
                        </div>
                        
                        <div class="hotel-detail-box">
                            <div class="hotel-ellipsis">
                                <h4 class="hotel-name">
                                    <a routerLink="/hotel-detail">Munhumutapa Hotel</a>
                                </h4>
                                <p>Proin mi nisi, ultrices eget dictum a, volutpat at risus. Aliquam elementum.</p>
                            </div>
                        </div>

                        <div class="hotel-inner inner-box">
                            <div class="box-inner-ellipsis">
                                <div class="hotel-review entry-location">
                                    <span class="review-status bg-danger"><i class="ti-check"></i></span>
                                    <h6><span class="cl-danger font-bold">Poor</span>87 Reviews</h6>
                                </div>
                                <div class="view-box">
                                    <div class="fl-right">
                                        <!-- <span><i class="ti-eye padd-r-5"></i>540</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                </div>
                
            </div>
        </div>

    </div>
</section>
<!-- ====================== Book Popular Hotel ================= -->
<div class="clearfix"></div>

<!-- ====================== Popular Destinations ================= -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span class="theme-cl">Top Outdoor Places</span>
                    <h1>Popular Destinations</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="#">
                                <img src="assets/img/destination/des-6.jpg" class="img-responsive listing-box-img"
                                    alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <!-- <div class="discount-flick">-12%</div> -->
                            <h4 class="destination-place">
                                <a href="#">Cleveland Dam </a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <!-- <span class="text-through"></span><span class="real-price padd-l-10 font-bold">$7581</span> -->
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="">Harare</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="#">
                                <img src="assets/img/destination/des-5.jpg" class="img-responsive listing-box-img"
                                    alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <!-- <div class="discount-flick">-12%</div> -->
                            <h4 class="destination-place">
                                <a href="#">Lake Chivero</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <!-- <span class="text-through">$4525</span><span
                                class="real-price padd-l-10 font-bold">$4258</span> -->
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="#">Harare</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <!-- Single Destination -->
            <div class="col-md-4 col-md-6">
                <article class="destination-box style-1">

                    <div class="destination-box-image">
                        <figure>
                            <a href="#">
                                <img src="assets/img/destination/des-4.jpg" class="img-responsive listing-box-img"
                                    alt="" />
                                <div class="list-overlay"></div>
                            </a>
                            <!-- <div class="discount-flick">-12%</div> -->
                            <h4 class="destination-place">
                                <a href="#">Paramount</a>
                            </h4>
                            <a href="#" class="list-like left"><i class="ti-heart"></i></a>
                        </figure>
                    </div>

                    <div class="entry-meta">
                        <div class="meta-item meta-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                        <div class="meta-item meta-comment fl-right">
                            <!-- <span class="text-through">$1856</span><span
                                class="real-price padd-l-10 font-bold">$1750</span> -->
                        </div>
                    </div>

                    <div class="inner-box">
                        <div class="box-inner-ellipsis">
                            <h4 class="entry-location">
                                <a href="">Harare</a>
                            </h4>
                            <div class="price-box">
                                <div class="destination-price fl-right">
                                    <a href="#"><i class="theme-cl ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

        </div>

    </div>
</section>
<!-- ====================== Popular Destinations ================= -->
<div class="clearfix"></div>