<!-- ======================= Start Navigation ===================== -->
<nav class="navbar navbar-default navbar-mobile navbar-fixed light bootsnav">
    <div class="container">

        <!-- Start Logo Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">
                <!-- 		<img src="assets/img/logo.png" class="logo logo-display" alt=""> -->
                <!-- <img src="assets/img/logo.png" class="logo logo-scrolled" alt=""> -->
                <h3>TravelHub.</h3>
            </a>

        </div>
        <!-- End Logo Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">

            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">

                <li class="dropdow">
                    <a routerLink="/" class="dropdown-toggl" data-toggle="dropdown">HOME</a>
                    <!-- <ul class="dropdown-menu animated fadeOutUp"> -->
                    <!-- <li><a href="index-2.html">Home 1</a></li> -->
                    <!-- <li><a href="home-2.html">Home 2</a></li> -->
                    <!-- <li><a href="home-3.html">Home 3</a></li> -->
                    <!-- <li><a href="home-4.html">Home 4</a></li> -->
                    <!-- <li><a href="home-5.html">Home 5</a></li> -->
                    <!-- </ul> -->
                </li>

                <li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">BROWSE
                        PLACES</a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
                            <div class="row">
                                <!-- <div class="col-menu col-md-3">
                                    <h6 class="title">Destinations</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="">Destinations</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Tours</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a href="">Tours</a></li>

                                        </ul>
                                    </div>
                                </div> -->
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Hotels</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a routerLink="/hotel-list">Hotels</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Restaurants</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a routerLink="/hotel-list">Restaurants</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-menu col-md-3">
                                    <h6 class="title">Hotels</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a routerLink="/hotel-list">Hotels</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-menu col-md-3">
                                    <h6 class="title">Restaurants</h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                            <li><a routerLink="/hotel-list">Restaurants</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>



                <!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra</a>
							<ul class="dropdown-menu animated fadeOutUp">
								<li><a href="cart.html">Add To Cart</a></li>
								<li><a href="payment-methode.html">Paayment Methode</a></li>
								<li><a href="success-page.html">Success Page</a></li>
								<li><a href="coming-soon.html">Coming Soon</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="pricing.html">Pricing</a></li>
								<li><a href="services.html">Services</a></li>
								<li class="dropdown"><a href="#">View More</a>
									<ul class="dropdown-menu">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="faqs.html">FAQs</a></li>
										<li><a href="login.html">LogIn</a></li>
										<li><a href="signup.html">SignUp</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="icons.html">icons</a></li>
										<li><a href="404.html">404</a></li>
									</ul>
								</li>
							</ul>
						</li> -->

                <!-- <li>
                    <a href="">DASHBOARD</a>
                </li> -->

                <li class="br-right"><a href="javascript:void(0)" data-toggle="modal" data-target="#signin"><i
                            class="login-icon ti-user"></i>LOGIN</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <!-- <li class="sign-up"><a class="btn-signup red-btn" href="tour-grid-sidebar.html"><span class="ti-briefcase"></span>Booking Toor</a></li>  -->
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- ======================= End Navigation ===================== -->


<router-outlet></router-outlet>

<!-- ============== Before Footer ====================== -->
<!-- <section class="before-footer bt-1 bb-1">
    <div class="container-fluid padd-0 full-width">

        <div class=" col-md-2 col-sm-2 br-1 mbb-1">
            <div class="data-flex">
                <h4>Contact Us!</h4>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 br-1 mbb-1">
            <div class="data-flex text-center">
                443 Samora Machel Av, Harare
            </div>
        </div>

        <div class="col-md-3 col-sm-3 br-1 mbb-1">
            <div class="data-flex text-center">
                <span class="d-block mrg-bot-0">+263 782 990 700</span>
                <a href="#" class="theme-cl"><strong>info@glidev.com</strong></a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 padd-0">
            <div class="data-flex padd-0">
                <ul class="social-share">
                    <li><a href="#"><i class="fa fa-facebook theme-cl"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus theme-cl"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter theme-cl"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin theme-cl"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section> -->
<!-- =================== Before Footer ====================== -->

<!-- ================= footer start ========================= -->
<footer class="footer dark-bg">
    <div class="container">

        <!-- Row Start -->
        <!-- <div class="row">
				
					<div class="col-md-8 col-sm-8">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<h4>Featured Destinations</h4>
								<ul>
									<li><a href="destination-grid.html">Destination Grid</a></li>
									<li><a href="destination-list.html">Destination List</a></li>
									<li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
									<li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
									<li><a href="destination-detail.html">Destination Detail</a></li>
									<li><a href="restaurant-grid.html">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Tours</h4>
								<ul>
									<li><a href="tour-grid.html">Tour Grid</a></li>
									<li><a href="tour-list.html">Tour List</a></li>
									<li><a href="tour-grid-sidebar.html">Tour Grid Sidebar</a></li>
									<li><a href="tour-list-sidebar.html">tour List Sidebar</a></li>
									<li><a href="tour-detail.html">Tour Detail</a></li>
									<li><a href="http://themezhub.com/">Restaurant Grid</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4>Featured Hotels</h4>
								<ul>
									<li><a href="hotel-grid.html">Hotel Grid</a></li>
									<li><a href="hotel-list.html">Hotel List</a></li>
									<li><a href="hotel-grid-sidebar.html">Hotel Grid Sidebar</a></li>
									<li><a href="hotel-list-sidebar.html">Hotel List Sidebar</a></li>
									<li><a href="hotel-detail.html">Hotel Detail</a></li>
									<li><a href="restaurant-detail.html">Restaurant Detail</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<h4>Subscribe Now</h4>
						
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Email">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
							</span>
						</div>
						
						
						<div class="f-social-box">
							<ul>
								<li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
							</ul>
						</div>
						
						
						<div class="f-app-box">
							<ul>
								<li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
								<li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>
							</ul>
						</div>
						
					</div>
					
				</div> -->

        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p><a target="_blank" href="https://www.templateshub.net">Travel Hub</a></p>
                </div>
            </div>
        </div>

    </div>
</footer>